.card {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 40px;
    width: 500px;
    border: 2px solid #f8951c;
    border-radius: 10px;
    background-color: #e9d69e;
} select {
    height: 35px;
    width: 230px;
} input {
    height: 35px;
    width: 230px;
} 


.btnStart {
    margin-top: 50px;
} button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-size:20px;
    text-align: center;
    background-color:#fdaf50;
    padding:20px 30px;
    margin: 10px;
    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 3px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
button:hover{
    background-color:#f8951c;
}

button:active{
    top:10px;
    background-color:
    #f38600;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
